In [2]:
import pandas as pd
datafile = pd.read_csv("transactions.csv")

In [3]:
print(datafile)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [4]:
import pandas as pd 
data = [10,13,15,17]
datafile = pd.Series()
print(datafile)

Series([], dtype: object)

In [5]:
import pandas as pd
data = [10, 20, 30, 40]
v = pd.Series(data)
print(v)

0    10
1    20
2    30
3    40
dtype: int64

In [19]:
import pandas as pd
datafile = {"sno":[1,2,3,4],"names":["raju","anil","venky","rani"],"age":[21,25,22,29],"vehicle":["car","bus","bike","cycle"]}
v = pd.DataFrame(datafile)
print(v['names'])

0     raju
1     anil
2    venky
3     rani
Name: names, dtype: object

In [9]:
import pandas as pd
data = pd.read_csv("transactions.csv")
print(data)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [10]:
import pandas as pd
data = pd.read_csv("transactions.csv")
print(data.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [11]:
import pandas as pd
data = pd.read_csv("transactions.csv")
print(data.tail())

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [12]:
import pandas as pd
data = pd.read_csv("transactions.csv")
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

In [13]:
import pandas as pd
data = pd.read_csv("transactions.csv")
print(data.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [20]:
import pandas as pd
datafile = {"sno":[1,2,3,4],"names":["raju","anil","venky","rani"],"age":[21,25,22,29],"vehicle":["car","bus","bike","cycle"]}
v = pd.DataFrame(datafile)
print(v['names'])

0     raju
1     anil
2    venky
3     rani
Name: names, dtype: object

In [27]:
import pandas as pd
datafile = {"sno":[1,2,3,4],"names":["raju","anil","venky","rani"],"age":[21,25,22,29],"vehicle":["car","bus","bike","cycle"]}
v = pd.DataFrame(datafile)
print(v[['names','vehicle']])

   names vehicle
0   raju     car
1   anil     bus
2  venky    bike
3   rani   cycle

In [29]:
print(v[['names','vehicle','age']])

   names vehicle  age
0   raju     car   21
1   anil     bus   25
2  venky    bike   22
3   rani   cycle   29

In [31]:
print(v.iloc[1])

sno           2
names      anil
age          25
vehicle     bus
Name: 1, dtype: object

In [37]:
y = [v['age']>24]
print(y)

[0    False
1     True
2    False
3     True
Name: age, dtype: bool]

In [41]:
v.rename(columns = {"names" : "Name"})

   sno   Name  age vehicle
0    1   raju   21     car
1    2   anil   25     bus
2    3  venky   22    bike
3    4   rani   29   cycle

In [44]:
print(data.isnull())

   TransactionID  TransactionDate  UserID  ProductID  Quantity
0          False            False   False      False     False
1          False            False   False      False     False
2          False            False   False      False     False
3          False            False   False      False     False
4          False            False   False      False     False
5          False            False   False      False     False
6          False            False   False      False     False
7          False            False    True      False     False
8          False            False   False      False     False
9          False            False   False      False     False

In [45]:
print(data.isnull().sum())

TransactionID      0
TransactionDate    0
UserID             1
ProductID          0
Quantity           0
dtype: int64

In [76]:
import pandas as pd
datafile = {"sno":[1,2,3,4],"names":["raju","anil","venky","rani"],"age":[21,25,22,None],"vehicle":["car","bus","bike","cycle"]}
v = pd.DataFrame(datafile)
print(v)

   sno  names   age vehicle
0    1   raju  21.0     car
1    2   anil  25.0     bus
2    3  venky  22.0    bike
3    4   rani   NaN   cycle

In [54]:
v['age'].fillna(v['age'].mean(), inplace=True)

In [55]:
print(v)

   sno  names        age vehicle
0    1   raju  21.000000     car
1    2   anil  25.000000     bus
2    3  venky  22.000000    bike
3    4   rani  22.666667   cycle

In [73]:
v['age'].fillna(v['age'].max(), inplace=True)
print(v)

   sno  names   age vehicle
0    1   raju  21.0     car
1    2   anil  25.0     bus
2    3  venky  22.0    bike
3    4   rani  25.0   cycle

In [77]:
v.dropna(inplace=True)
print(v)

   sno  names   age vehicle
0    1   raju  21.0     car
1    2   anil  25.0     bus
2    3  venky  22.0    bike

In [86]:
y = data.sort_values(by=["Quantity","TransactionDate"])
ascending = [True ,False]
print(y)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
3              4      2012-08-26     1.0          2         3
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

In [88]:
x = v.sort_values(by=["age"])
print(x)

   sno  names   age vehicle
0    1   raju  21.0     car
2    3  venky  22.0    bike
1    2   anil  25.0     bus

In [91]:
x = [v[v["age"]>22]]
print(x)

[   sno names   age vehicle
1    2  anil  25.0     bus]

In [97]:
x = v.iloc[[1,2]]
print(x)

   sno  names   age vehicle
1    2   anil  25.0     bus
2    3  venky  22.0    bike

In [104]:
#1. Print Summary of transaction data set
import pandas as pd 
df= pd.read_csv("transactions.csv")
print(data.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [108]:
#2. Print Numbers of Attributes
print(df.shape[1])

5

In [109]:
#Print Numbers of Records
print(df.shape[0])

10

In [110]:
#Get the row names
print(df.index)

RangeIndex(start=0, stop=10, step=1)

In [2]:
import pandas as pd

# Creating the dataset (since you provided the data manually)
data = {
    "TransactionID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "TransactionDate": ["2010-08-21", "2011-05-26", "2011-06-16", "2012-08-26", "2013-06-06", 
                        "2013-12-23", "2013-12-30", "2014-04-24", "2015-04-24", "2016-05-08"],
    "UserID": [7, 3, 3, 1, 2, 2, 3, None, 7, 3],
    "ProductID": [2, 4, 3, 2, 4, 5, 4, 2, 4, 4],
    "Quantity": [1, 1, 1, 3, 1, 6, 1, 3, 3, 4]
}

df = pd.DataFrame(data)

# Convert TransactionDate to datetime
df["TransactionDate"] = pd.to_datetime(df["TransactionDate"], errors='coerce')

# Print Summary
print(df.info())
print(df.describe(include="all"))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     datetime64[ns]
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 532.0 bytes
None
       TransactionID      TransactionDate    UserID  ProductID   Quantity
count       10.00000                   10  9.000000  10.000000  10.000000
mean         5.50000  2013-05-08 14:24:00  3.444444   3.400000   2.400000
min          1.00000  2010-08-21 00:00:00  1.000000   2.000000   1.000000
25%          3.25000  2011-10-03 06:00:00  2.000000   2.250000   1.000000
50%          5.50000  2013-09-14 00:00:00  3.000000   4.000000   2.000000
75%          7.75000  2014-03-26 06:00:00  3.000000   4.000000   3.000000
max         10.00000  2016-05-08 00:00:00  7.000000   5.000000   6.000000
std          3.02765                  NaN  2.127858   1.074968   1.712698

In [112]:
#2. Print Numbers of Attributes
num_attributes = df.shape[1]
print("Number of attributes:", num_attributes)

Number of attributes: 5

In [114]:
#4.Get the row names
row_names = df.index
print("Row names:", row_names.tolist())

Row names: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [113]:
#3.Print Numbers of Records
num_records = df.shape[0]
print("Number of records:", num_records)

Number of records: 10

In [119]:
#5. Get the column names
print(df.columns)

Index(['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity'], dtype='object')

In [120]:
#View top 10 Records
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [124]:
#7.Change the name of column “ Quantity” to “Quant”
data = df.rename(columns={'Quantity':"Quant"})
print(data)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [129]:
#8.Change the name of columns ProductID and UserID to PID and UID respectively
df.rename(columns = {'ProductID': 'PID','UserID':'UID'},inplace = True)
print(df)

   TransactionID TransactionDate  UID  PID  Quantity
0              1      2010-08-21  7.0    2         1
1              2      2011-05-26  3.0    4         1
2              3      2011-06-16  3.0    3         1
3              4      2012-08-26  1.0    2         3
4              5      2013-06-06  2.0    4         1
5              6      2013-12-23  2.0    5         6
6              7      2013-12-30  3.0    4         1
7              8      2014-04-24  NaN    2         3
8              9      2015-04-24  7.0    4         3
9             10      2016-05-08  3.0    4         4

In [133]:
#9. Order the rows of transactions by TransactionId descending, if ascending then ascending=True
df.sort_values(by = ["TransactionID"],ascending = [False],inplace = True)
print(df)

   TransactionID TransactionDate  UID  PID  Quantity
9             10      2016-05-08  3.0    4         4
8              9      2015-04-24  7.0    4         3
7              8      2014-04-24  NaN    2         3
6              7      2013-12-30  3.0    4         1
5              6      2013-12-23  2.0    5         6
4              5      2013-06-06  2.0    4         1
3              4      2012-08-26  1.0    2         3
2              3      2011-06-16  3.0    3         1
1              2      2011-05-26  3.0    4         1
0              1      2010-08-21  7.0    2         1

In [134]:
#10. Order the rows of transactions by Quantity
df.sort_values(by=['Quantity'])

   TransactionID TransactionDate  UID  PID  Quantity
6              7      2013-12-30  3.0    4         1
4              5      2013-06-06  2.0    4         1
2              3      2011-06-16  3.0    3         1
1              2      2011-05-26  3.0    4         1
0              1      2010-08-21  7.0    2         1
7              8      2014-04-24  NaN    2         3
3              4      2012-08-26  1.0    2         3
8              9      2015-04-24  7.0    4         3
9             10      2016-05-08  3.0    4         4
5              6      2013-12-23  2.0    5         6

In [29]:
#11. Set the column order of Transactions as ProductID,
df.sort_values(by=['ProductID'])

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
3              4      2012-08-26     1.0          2         3
7              8      2014-04-24     NaN          2         3
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

In [ ]:
#12. Make UserID the first column of transactions

In [30]:
#13. Extracting arrays from a Data Frame. Get the 2nd
print(df['TransactionDate'])

0   2010-08-21
1   2011-05-26
2   2011-06-16
3   2012-08-26
4   2013-06-06
5   2013-12-23
6   2013-12-30
7   2014-04-24
8   2015-04-24
9   2016-05-08
Name: TransactionDate, dtype: datetime64[ns]

In [7]:
#14. Get the ProductID Array
import pandas as pd
array = (df['ProductID'])
arr = pd.Series(array)
print(arr)

0    2
1    4
2    3
3    2
4    4
5    5
6    4
7    2
8    4
9    4
Name: ProductID, dtype: int64

In [26]:
#15.Get the ProductId array using the following variable Data Mining Manual AY:19-20 Page 5
print(df['ProductID'])

0    2
1    4
2    3
3    2
4    4
5    5
6    4
7    2
8    4
9    4
Name: ProductID, dtype: int64

In [27]:
#16.Row subsetting, subset rows 1,3 and 6
print(df.iloc[[1,3,6]])

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3
6              7      2013-12-30     3.0          4         1

In [42]:
#17. subset rows excluding 1,3 and 6
print([True,False,True,False,True,True,False,True,True,True])
print(subset)

[True, False, True, False, True, True, False, True, True, True]
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [45]:
#18. Subset the first three rows
print(df.iloc[[0,1,2]])

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1

In [47]:
#. Subset the last 2 rows
print(df.iloc[[7,8]])

   TransactionID TransactionDate  UserID  ProductID  Quantity
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3

In [54]:
#20. Subset rows excluding the last 2 rows
foo=([True,True,True,True,True,True,True,True,False,False])
sub = df[foo]
print(sub)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3

In [55]:
#21. Subset rows excluding the first 3 rows
foo=([True,True,True,True,True,True,True,False,False,False])
sub = df[foo]
print(sub)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1

In [18]:
#22. Subset rows where Quantity>1
s = df[df['Quantity']>1]
print(s)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4